{% set labelPosition = labelPosition|default('before') %}

<label>
    {%- autoescape false -%}
        {%- if labelPosition != 'after' -%}
            <span>{{- label -}}</span>
        {%- endif -%}
        {{- field -}}
        {%- if labelPosition == 'after' -%}
            <span>{{- label -}}</span>
        {%- endif -%}
    {%- endautoescape -%}
</label>